## Data cleaning with pandas

Pandas is a python library to easily work with data. It's ideal for data cleaning and tranforming offering a wide range of methods to replace, drop, slice and merge parts or entire dataframes. This tutorial will use the data generated through our scraping operation on Rotten Tomatoes. We will quickly see how to load data, consolidate their structure, change data format and create/export smaller datasets that later will be used for visualization purposes.

This is a quick pandas overview. We won't cover statistics or data analysis tasks together right away. You can find plenty of resources on the web that will help you with more delicate and time consuming tasks, this is just a way for you to get started.

In [167]:
import pandas as pd
import numpy as np
import datetime as dt

#Disable warning after check its safety in: https://stackoverflow.com/questions/20625582/how-to-deal-with-settingwithcopywarning-in-pandas
pd.options.mode.chained_assignment = None  # default='warn'

#### Load and preview data

We can easily open a csv file by specifying its directory. If we use `pd.read_csv` we also automatically convert our file into a Dataframe that can be later manipulated. We can also display data very conveniently by using `.sample()`, `.head()` or `.tail()`.

In [117]:
#Reading files
allTitles = pd.read_csv('data/movieDetailsDataRaw.csv', sep=",")

# Print a sample of rows
allTitles.sample(5)

,Unnamed: 0,title,critic rating,audience rating,genres,img,available
524,524,THE OTHER LAMB,75,33,"Drama, Horror",data/img/poster-574.jpg,"Apr 3, 2020"
92,92,WOLFMAN'S GOT NARDS,100,60,"Horror, Documentary",data/img/poster-99.jpg,"Oct 27, 2020"
216,216,EMPEROR,71,63,"History, Biography, Drama",data/img/poster-235.jpg,"Aug 18, 2020"
438,438,REWIND,100,96,"Drama, Documentary",data/img/poster-476.jpg,"Jun 12, 2020"
290,290,GUEST ARTIST,63,33,Drama,data/img/poster-316.jpg,"Jul 19, 2020"

In [118]:
# Print the first 5 rows in the dataframe
allTitles.head(5)

,Unnamed: 0,title,critic rating,audience rating,genres,img,available
0,0,THE EMOJI STORY,91,0,Documentary,data/img/poster-1.jpg,"Dec 22, 2020"
1,1,PROMISING YOUNG WOMAN,91,87,"Comedy, Mystery And Thriller",data/img/poster-2.jpg,"Dec 25, 2020"
2,2,YELLOW ROSE,86,82,"Drama, Music",data/img/poster-3.jpg,"Oct 9, 2020"
3,3,AMERICAN SKIN,31,97,Drama,data/img/poster-4.jpg,"Jan 15, 2021"
4,4,SOUL,96,88,"Comedy, Animation, Adventure, Kids And Family",data/img/poster-5.jpg,"Dec 25, 2020"

In [119]:
# Print the last 5 rows in the dataframe
allTitles.tail(5)

,Unnamed: 0,title,critic rating,audience rating,genres,img,available
535,535,ABOUT A TEACHER,100,0,Drama,data/img/poster-587.jpg,"Apr 17, 2020"
536,536,THE MAIN EVENT,26,23,Comedy,data/img/poster-588.jpg,"Apr 11, 2020"
537,537,LOVE. WEDDING. REPEAT,32,37,Comedy,data/img/poster-589.jpg,"Apr 11, 2020"
538,538,SCHOOL LIFE,90,74,"Comedy, Drama",data/img/poster-590.jpg,"Apr 11, 2020"
539,539,SHOOTING HEROIN,61,95,"Mystery And Thriller, Drama, Action",data/img/poster-591.jpg,"Apr 3, 2020"

In [166]:
#Create a copy of your current dataframe
allTitles_copy = allTitles

#### Change dataframe columns

We can drop, sort, create or rename columns very easily.

In [120]:
# Drop the index column that I accidentally exported when scraping 
#(it can be easily avoided by setting Index=False when exporting the csv)
allTitles = allTitles.drop(['Unnamed: 0'], axis=1)

In [121]:
# Print column names
allTitles.columns

Index(['title', 'critic rating', 'audience rating', 'genres', 'img',
       'available'],
      dtype='object')

In [122]:
# Rename columns
allTitles.columns = ['title', 'critic rating(%)', 'audience rating(%)', 'genres', 'img_path', 'available_date']

In [123]:
# Reorder columns
allTitles = allTitles[['title', 'critic rating(%)', 'audience rating(%)', 'genres', 'available_date', 'img_path']]

In [124]:
allTitles.columns

Index(['title', 'critic rating(%)', 'audience rating(%)', 'genres',
       'available_date', 'img_path'],
      dtype='object')

#### Change data format

Another annoying task is changing data format. We have at our disposal a series of methods to do that, not only for standard formats such as strings or integers, but also for "special" ones like datetime.

In [161]:
# We can check our result by printing the unique values for a particular column.
allTitles['available_date'].unique()

array(['Dec 22, 2020', 'Dec 25, 2020', 'Oct 9, 2020', 'Jan 15, 2021',
       'Dec 4, 2020', 'Nov 18, 2020', 'Dec 30, 2020', 'Dec 11, 2020',
       'Dec 23, 2020', 'Jan 1, 2021', 'Sep 17, 2020', 'Sep 25, 2020',
       'Jan 22, 2021', 'Jan 8, 2021', 'Dec 29, 2020', 'Jan 5, 2021',
       'Dec 21, 2020', 'Jan 14, 2021', 'Nov 6, 2020', 'Nov 27, 2020',
       'Dec 1, 2020', 'Aug 21, 2020', 'Dec 8, 2020', 'Nov 25, 2020',
       'Nov 13, 2020', 'Nov 20, 2020', 'Sep 18, 2020', 'Aug 7, 2020',
       'Nov 10, 2020', 'Oct 30, 2020', 'Aug 14, 2020', 'Nov 17, 2020',
       'Nov 11, 2020', 'Nov 3, 2020', 'Oct 10, 2020', 'Oct 16, 2020',
       'Oct 27, 2020', 'Apr 8, 2020', 'Oct 23, 2020', 'Oct 15, 2020',
       'Oct 2, 2020', 'Oct 28, 2020', 'Oct 21, 2020', 'Sep 16, 2020',
       'Oct 20, 2020', 'Nov 1, 2020', 'Oct 6, 2020', 'Sep 11, 2020',
       'Sep 30, 2020', 'Oct 7, 2020', 'Oct 1, 2020', 'Oct 13, 2020',
       'Sep 9, 2020', 'Oct 8, 2020', 'Sep 12, 1985', 'Aug 28, 2020',
       'Sep 15, 2020', 'Sep 22, 2020', 'Sep 19, 2019', 'Sep 14, 2020',
       'Jul 30, 2020', 'Sep 29, 2020', 'Sep 20, 2020', 'Sep 4, 2020',
       'Sep 1, 2020', 'Sep 8, 2020', 'Mar 6, 2020', 'Aug 30, 2020',
       'Jan 25, 2020', 'Jun 19, 2020', '1h 27m', 'Aug 16, 2020',
       'Aug 25, 2020', 'Jul 6, 2020', 'Aug 18, 2020', 'Jun 12, 2020',
       'Aug 23, 2020', 'Aug 12, 2020', 'Mar 14, 2014', 'Mar 18, 2016',
       'Jun 26, 2020', 'Sep 20, 2019', 'Aug 4, 2020', 'Sep 13, 2019',
       'Jul 31, 2020', 'Aug 11, 2020', 'Apr 16, 2017', 'Jul 24, 2020',
       'May 12, 2020', 'Jul 28, 2020', 'Aug 3, 2020', 'Jul 16, 2020',
       'Jul 26, 2020', 'Jul 5, 2020', 'Jul 25, 2020', 'Jul 3, 2020',
       'Jul 10, 2020', 'Jul 17, 2020', 'Jun 30, 2020', 'Jul 19, 2020',
       'Jul 7, 2020', 'Jul 8, 2020', 'Feb 14, 2020', 'Jul 12, 2020',
       'Jun 5, 2020', 'Jul 14, 2020', 'Jul 9, 2020', 'Jul 15, 2020',
       'Jan 10, 2021', 'Jun 23, 2020', 'Sep 2, 2020', 'Jul 1, 2020',
       'Jun 28, 2020', 'Jun 21, 2020', 'Jul 2, 2020', 'Oct 26, 2018',
       'Oct 19, 2018', 'Dec 25, 2019', 'Nov 27, 2019', 'Jun 16, 2020',
       'May 15, 2020', 'Jun 18, 2020', 'Feb 9, 2019', 'May 28, 2020',
       'Jun 14, 2020', 'Jun 4, 2020', 'Jun 22, 2020', 'Jun 15, 2020',
       'May 18, 1962', 'May 29, 2020', 'Feb 28, 2020', 'Jun 9, 2020',
       'Feb 7, 2020', 'Jun 25, 2020', 'Jan 31, 2020', 'Jun 7, 2020',
       'Jun 8, 2020', 'May 30, 2020', 'May 22, 2020', 'Jan 7, 2021',
       'Mar 13, 2017', 'Dec 6, 2019', 'Feb 21, 2020', 'May 19, 2020',
       'May 23, 2020', 'May 26, 2020', 'May 5, 2020', 'May 8, 2020',
       'Aug 2, 2020', 'Apr 29, 2020', 'Aug 8, 2020', 'Jan 29, 2020',
       'Nov 8, 2019', 'Nov 22, 2019', 'May 6, 2020', 'May 7, 2020',
       'Apr 22, 2020', 'Apr 28, 2020', 'Apr 24, 2020', 'May 1, 2020',
       'Apr 26, 2020', 'Apr 3, 2020', 'Apr 30, 2020', 'Apr 25, 2020',
       'May 2, 2020', 'Jun 27, 2020', 'Apr 10, 2020', 'May 17, 2019',
       'Apr 17, 2020', 'Mar 10, 2020', 'Jun 2, 2020', 'Jan 10, 2020',
       'Apr 14, 2020', 'Apr 18, 2020', 'Apr 19, 2020', 'Apr 12, 2020',
       'Apr 15, 2020', 'Oct 5, 2019', 'Jun 18, 2016', 'Jan 24, 2020',
       'Apr 6, 2020', 'Apr 7, 2020', 'Apr 5, 2020', 'Mar 13, 2020',
       'Mar 28, 2020', 'Apr 4, 2020', 'Apr 11, 2020'], dtype=object)

In [162]:
#Removing one movie because of this incorrect field.
cleanedTitles = allTitles[allTitles['available_date'] != '1h 27m']

In [163]:
# We can check data format by using .dtypes. In pandas strings are usually displayed as objects.
cleanedTitles.dtypes

title                 object
critic rating(%)       int64
audience rating(%)     int64
genres                object
available_date        object
img_path              object
dtype: object

In [164]:
# Use the pd to_datetime module to convert dates from strings to datetime objects
cleanedTitles['available_date'] = pd.to_datetime(cleanedTitles['available_date'], format='%b %d, %Y', errors='coerce')

In [165]:
# Convert again datetime obj into string to obtain only date (we use the dt method .date())
cleanedTitles['available_date'] = cleanedTitles['available_date'].map(lambda x: x.date())

In [144]:
# Check the output
cleanedTitles['available_date'].unique()

array([datetime.date(2020, 12, 22), datetime.date(2020, 12, 25),
       datetime.date(2020, 10, 9), datetime.date(2021, 1, 15),
       datetime.date(2020, 12, 4), datetime.date(2020, 11, 18),
       datetime.date(2020, 12, 30), datetime.date(2020, 12, 11),
       datetime.date(2020, 12, 23), datetime.date(2021, 1, 1),
       datetime.date(2020, 9, 17), datetime.date(2020, 9, 25),
       datetime.date(2021, 1, 22), datetime.date(2021, 1, 8),
       datetime.date(2020, 12, 29), datetime.date(2021, 1, 5),
       datetime.date(2020, 12, 21), datetime.date(2021, 1, 14),
       datetime.date(2020, 11, 6), datetime.date(2020, 11, 27),
       datetime.date(2020, 12, 1), datetime.date(2020, 8, 21),
       datetime.date(2020, 12, 8), datetime.date(2020, 11, 25),
       datetime.date(2020, 11, 13), datetime.date(2020, 11, 20),
       datetime.date(2020, 9, 18), datetime.date(2020, 8, 7),
       datetime.date(2020, 11, 10), datetime.date(2020, 10, 30),
       datetime.date(2020, 8, 14), datetime.date(2020, 11, 17),
       datetime.date(2020, 11, 11), datetime.date(2020, 11, 3),
       datetime.date(2020, 10, 10), datetime.date(2020, 10, 16),
       datetime.date(2020, 10, 27), datetime.date(2020, 4, 8),
       datetime.date(2020, 10, 23), datetime.date(2020, 10, 15),
       datetime.date(2020, 10, 2), datetime.date(2020, 10, 28),
       datetime.date(2020, 10, 21), datetime.date(2020, 9, 16),
       datetime.date(2020, 10, 20), datetime.date(2020, 11, 1),
       datetime.date(2020, 10, 6), datetime.date(2020, 9, 11),
       datetime.date(2020, 9, 30), datetime.date(2020, 10, 7),
       datetime.date(2020, 10, 1), datetime.date(2020, 10, 13),
       datetime.date(2020, 9, 9), datetime.date(2020, 10, 8),
       datetime.date(1985, 9, 12), datetime.date(2020, 8, 28),
       datetime.date(2020, 9, 15), datetime.date(2020, 9, 22),
       datetime.date(2019, 9, 19), datetime.date(2020, 9, 14),
       datetime.date(2020, 7, 30), datetime.date(2020, 9, 29),
       datetime.date(2020, 9, 20), datetime.date(2020, 9, 4),
       datetime.date(2020, 9, 1), datetime.date(2020, 9, 8),
       datetime.date(2020, 3, 6), datetime.date(2020, 8, 30),
       datetime.date(2020, 1, 25), datetime.date(2020, 6, 19),
       datetime.date(2020, 8, 16), datetime.date(2020, 8, 25),
       datetime.date(2020, 7, 6), datetime.date(2020, 8, 18),
       datetime.date(2020, 6, 12), datetime.date(2020, 8, 23),
       datetime.date(2020, 8, 12), datetime.date(2014, 3, 14),
       datetime.date(2016, 3, 18), datetime.date(2020, 6, 26),
       datetime.date(2019, 9, 20), datetime.date(2020, 8, 4),
       datetime.date(2019, 9, 13), datetime.date(2020, 7, 31),
       datetime.date(2020, 8, 11), datetime.date(2017, 4, 16),
       datetime.date(2020, 7, 24), datetime.date(2020, 5, 12),
       datetime.date(2020, 7, 28), datetime.date(2020, 8, 3),
       datetime.date(2020, 7, 16), datetime.date(2020, 7, 26),
       datetime.date(2020, 7, 5), datetime.date(2020, 7, 25),
       datetime.date(2020, 7, 3), datetime.date(2020, 7, 10),
       datetime.date(2020, 7, 17), datetime.date(2020, 6, 30),
       datetime.date(2020, 7, 19), datetime.date(2020, 7, 7),
       datetime.date(2020, 7, 8), datetime.date(2020, 2, 14),
       datetime.date(2020, 7, 12), datetime.date(2020, 6, 5),
       datetime.date(2020, 7, 14), datetime.date(2020, 7, 9),
       datetime.date(2020, 7, 15), datetime.date(2021, 1, 10),
       datetime.date(2020, 6, 23), datetime.date(2020, 9, 2),
       datetime.date(2020, 7, 1), datetime.date(2020, 6, 28),
       datetime.date(2020, 6, 21), datetime.date(2020, 7, 2),
       datetime.date(2018, 10, 26), datetime.date(2018, 10, 19),
       datetime.date(2019, 12, 25), datetime.date(2019, 11, 27),
       datetime.date(2020, 6, 16), datetime.date(2020, 5, 15),
       datetime.date(2020, 6, 18), datetime.date(2019, 2, 9),
       datetime.date(2020, 5, 28), datetime.date(2020, 6, 14),
       datetime.date(2020, 6, 4), datetime.date(2020, 6, 22),
       datetime.date(2020, 6, 15), datetime.date(1962, 5, 18),
       datetime.date(2020, 5, 29), datetime.date(2020, 2, 28),
       datetime.date(2020, 6, 9), datetime.date(2020, 2, 7),
       datetime.date(2020, 6, 25), datetime.date(2020, 1, 31),
       datetime.date(2020, 6, 7), datetime.date(2020, 6, 8),
       datetime.date(2020, 5, 30), datetime.date(2020, 5, 22),
       datetime.date(2021, 1, 7), datetime.date(2017, 3, 13),
       datetime.date(2019, 12, 6), datetime.date(2020, 2, 21),
       datetime.date(2020, 5, 19), datetime.date(2020, 5, 23),
       datetime.date(2020, 5, 26), datetime.date(2020, 5, 5),
       datetime.date(2020, 5, 8), datetime.date(2020, 8, 2),
       datetime.date(2020, 4, 29), datetime.date(2020, 8, 8),
       datetime.date(2020, 1, 29), datetime.date(2019, 11, 8),
       datetime.date(2019, 11, 22), datetime.date(2020, 5, 6),
       datetime.date(2020, 5, 7), datetime.date(2020, 4, 22),
       datetime.date(2020, 4, 28), datetime.date(2020, 4, 24),
       datetime.date(2020, 5, 1), datetime.date(2020, 4, 26),
       datetime.date(2020, 4, 3), datetime.date(2020, 4, 30),
       datetime.date(2020, 4, 25), datetime.date(2020, 5, 2),
       datetime.date(2020, 6, 27), datetime.date(2020, 4, 10),
       datetime.date(2019, 5, 17), datetime.date(2020, 4, 17),
       datetime.date(2020, 3, 10), datetime.date(2020, 6, 2),
       datetime.date(2020, 1, 10), datetime.date(2020, 4, 14),
       datetime.date(2020, 4, 18), datetime.date(2020, 4, 19),
       datetime.date(2020, 4, 12), datetime.date(2020, 4, 15),
       datetime.date(2019, 10, 5), datetime.date(2016, 6, 18),
       datetime.date(2020, 1, 24), datetime.date(2020, 4, 6),
       datetime.date(2020, 4, 7), datetime.date(2020, 4, 5),
       datetime.date(2020, 3, 13), datetime.date(2020, 3, 28),
       datetime.date(2020, 4, 4), datetime.date(2020, 4, 11)],
      dtype=object)

#### Split rows, adapt structure, create subselections and data slices

It is also possible to adapt the structure of our data by adding columns, splitting rows and slicing the dataframe to smaller ones.

In [130]:
cleanedTitles['genres'].unique()

array(['Documentary', 'Comedy, Mystery And Thriller', 'Drama, Music',
       'Drama', 'Comedy, Animation, Adventure, Kids And Family',
       'Drama, Horror', 'Romance, Drama, Music', 'Romance',
       'War, Action, Horror', 'Mystery And Thriller, Horror',
       'Horror, Mystery And Thriller', 'Sci Fi, Drama', 'Horror, Comedy',
       'Comedy', 'Adventure, Sci Fi, Fantasy, Action',
       'Mystery And Thriller', 'Mystery And Thriller, Action',
       'Comedy, Stand Up', 'Mystery And Thriller, Drama',
       'Documentary, Music', 'Comedy, Romance', 'Comedy, Horror',
       'Music, Documentary', 'Romance, Drama',
       'Horror, Action, Mystery And Thriller', 'Biography, Drama, Music',
       'Mystery And Thriller, Sci Fi',
       'Other, Fantasy, Mystery And Thriller, Comedy',
       'Action, Mystery And Thriller', 'Other, Documentary',
       'Other, Romance, Gay And Lesbian', 'Comedy, Drama',
       'Sports And Fitness, Action', 'Mystery And Thriller, Crime, Drama',
       'Fantasy, Adventure, Action', 'Fantasy, Mystery And Thriller',
       'Mystery And Thriller, Action, Horror',
       'Comedy, Action, Sports And Fitness', 'Adventure, Drama',
       'Fantasy, Action, Sci Fi', 'Horror', 'Horror, Documentary',
       'Comedy, Documentary',
       'Adventure, Sci Fi, Kids And Family, Comedy, Animation',
       'Action, Comedy, Horror', 'Comedy, Fantasy, Adventure',
       'Fantasy, Adventure, Kids And Family, Comedy, Musical, Animation',
       'Comedy, Other', 'Adventure, Horror', 'Adventure, Fantasy, Sci Fi',
       'Romance, Comedy, Drama', 'Biography, Drama', 'Comedy, Sci Fi',
       'History, Drama', 'Comedy, Mystery And Thriller, Horror',
       'Action, Animation, Drama', 'Fantasy, Horror, Western',
       'Comedy, Romance, Drama', 'Animation, Action',
       'Comedy, Kids And Family, Adventure', 'Action, Documentary',
       'Sci Fi', 'Adventure, Action', 'Fantasy, Animation, Adventure',
       'Fantasy, Horror', 'Comedy, Drama, Sci Fi',
       'Drama, Mystery And Thriller', 'Action, Adventure',
       'History, Biography, Drama', 'Drama, History', 'Drama, Romance',
       'Horror, Western', 'Sci Fi, Mystery And Thriller, Horror',
       'Anime, Adventure, Sci Fi', 'Comedy, Anime', 'Fantasy, Drama',
       'Mystery And Thriller, Sci Fi, Horror', 'Fantasy, Adventure',
       'Mystery And Thriller, Drama, Action, Crime', 'Comedy, Music',
       'Comedy, Adventure', 'Adventure, Sci Fi, Action',
       'Crime, Mystery And Thriller, Drama', 'Crime, Drama',
       'Sci Fi, Action, Horror', 'Animation, Adventure, Action',
       'Romance, Drama, Fantasy, Gay And Lesbian', 'Drama, Western',
       'Horror, Drama', 'Comedy, Sports And Fitness, Action',
       'Comedy, Drama, Music', 'Drama, War', 'Fantasy',
       'Comedy, Fantasy, Drama, Sci Fi',
       'Comedy, Mystery And Thriller, Crime, Drama', 'Animation, Drama',
       'Drama, Comedy', 'Action', 'Romance, Documentary',
       'Biography, Comedy, Documentary', 'Comedy, Crime, Drama',
       'Comedy, Fantasy, Kids And Family',
       'Drama, Mystery And Thriller, Crime', 'Sci Fi, Action',
       'Adventure', 'Crime, Drama, Action, Documentary',
       'Crime, Biography, Drama', 'Romance, Musical',
       'Drama, Documentary', 'Adventure, Animation, Action',
       'Comedy, Animation, Kids And Family', 'History, Drama, War',
       'Drama, Crime, Biography', 'War, History, Drama',
       'Biography, Documentary',
       'Mystery And Thriller, Sci Fi, Action, Horror',
       'Comedy, Fantasy, Adventure, Kids And Family', 'War, Drama',
       'Biography, Drama, Musical', 'Comedy, Animation, Adventure',
       'Comedy, Action', 'Mystery And Thriller, Drama, Action'],
      dtype=object)

In [153]:
# Splitting a string in a list and then counting how long this list is (so I can create an adequate amount of columns)
genresList = cleanedTitles['genres'].str.split(',').tolist()
for element in genresList:
    print(len(element))

1
2
2
1
4
1
1
2
1
1
3
1
1
3
2
2
2
2
1
4
1
2
2
2
1
1
1
1
2
2
2
1
2
1
2
1
2
1
3
1
3
1
1
2
1
1
2
1
2
4
2
1
1
2
2
3
2
1
2
1
3
2
1
1
2
1
1
1
1
3
2
1
1
2
1
2
1
2
3
3
2
3
2
3
1
1
1
1
2
1
2
2
2
2
2
1
5
1
3
2
3
1
2
2
2
6
1
1
1
2
2
2
2
2
2
3
2
3
1
2
2
2
1
1
2
2
2
3
2
1
2
2
2
2
2
1
2
1
1
2
1
1
2
2
1
1
3
1
2
1
1
2
1
3
1
2
1
3
2
1
3
1
1
2
2
1
2
1
2
1
3
1
2
2
1
1
1
2
3
1
1
1
3
1
3
2
1
1
1
1
1
2
1
1
1
1
2
3
1
2
1
2
1
1
3
1
2
2
1
1
1
1
2
1
3
3
2
3
2
2
2
2
3
2
1
2
1
1
1
1
2
2
2
1
1
3
2
2
1
1
2
1
2
3
2
1
2
2
4
5
3
1
2
1
1
2
2
1
2
2
1
2
1
2
1
3
3
2
2
1
1
1
2
3
1
2
2
3
1
3
1
2
1
1
2
1
1
1
2
1
4
1
1
2
1
2
1
1
1
2
3
1
1
2
1
3
2
2
2
1
2
1
1
1
1
3
1
1
2
1
1
1
1
1
1
2
1
2
1
1
1
1
1
1
1
2
1
1
2
1
3
2
2
4
1
1
1
4
4
1
1
2
2
2
1
1
2
2
1
2
2
1
1
2
1
1
1
1
1
2
3
1
1
1
1
1
1
1
1
1
2
1
1
1
3
2
1
1
1
1
3
3
2
3
1
2
1
3
1
2
1
1
1
4
4
2
1
1
1
1
3
1
1
1
2
1
1
1
2
1
2
1
1
2
1
1
1
1
2
1
2
1
1
2
2
1
1
2
1
2
1
2
1
3
1
1
1
1
1
2
2
1
1
4
3
1
1
1
3
1
2
1
1
1
1
3
2
2
2
1
1
3
2
1
2
1
1
3
2
1
1
1
1
2
3
1
6
2
3
1
3
2
2
2
2
2
3
2
4
1
2
1
2
2
2
1
1
2
3
1
1
1
1
4
2
2
1
1
3
3
1
2
1
2
2
1
1
1
2
1
2
1
2
1
1
1
1
2
3

In [154]:
#I am creating a dataframe with only genres, one genre per column
genres = pd.DataFrame(genresList, columns = ['genre1', 'genre2', 'genre3', 'genre4', 'genre5', 'genre6'])

In [155]:
#I am using .concat() to create another dataframe with genre columns
allGenres = pd.concat([cleanedTitles, genres], axis=1)

In [156]:
allGenres.head(5)

,title,critic rating(%),audience rating(%),genres,available_date,img_path,genre1,genre2,genre3,genre4,genre5,genre6
0,THE EMOJI STORY,91.0,0.0,Documentary,2020-12-22,data/img/poster-1.jpg,Documentary,None,None,None,None,None
1,PROMISING YOUNG WOMAN,91.0,87.0,"Comedy, Mystery And Thriller",2020-12-25,data/img/poster-2.jpg,Comedy,Mystery And Thriller,None,None,None,None
2,YELLOW ROSE,86.0,82.0,"Drama, Music",2020-10-09,data/img/poster-3.jpg,Drama,Music,None,None,None,None
3,AMERICAN SKIN,31.0,97.0,Drama,2021-01-15,data/img/poster-4.jpg,Drama,None,None,None,None,None
4,SOUL,96.0,88.0,"Comedy, Animation, Adventure, Kids And Family",2020-12-25,data/img/poster-5.jpg,Comedy,Animation,Adventure,Kids And Family,None,None

In [134]:
#Create a slice for top 100
top100 = allGenres[0:101]

In [158]:
#I am dropping some genre columns since I won't need all of them. 
top100.drop(['genre4', 'genre5', 'genre6'], axis=1)

,title,critic rating(%),audience rating(%),genres,available_date,img_path,genre1,genre2,genre3
0,THE EMOJI STORY,91.0,0.0,Documentary,2020-12-22,data/img/poster-1.jpg,Documentary,None,None
1,PROMISING YOUNG WOMAN,91.0,87.0,"Comedy, Mystery And Thriller",2020-12-25,data/img/poster-2.jpg,Comedy,Mystery And Thriller,None
2,YELLOW ROSE,86.0,82.0,"Drama, Music",2020-10-09,data/img/poster-3.jpg,Drama,Music,None
3,AMERICAN SKIN,31.0,97.0,Drama,2021-01-15,data/img/poster-4.jpg,Drama,None,None
4,SOUL,96.0,88.0,"Comedy, Animation, Adventure, Kids And Family",2020-12-25,data/img/poster-5.jpg,Comedy,Animation,Adventure
...,...,...,...,...,...,...,...,...,...
96,TERRA WILLY,100.0,85.0,"Adventure, Sci Fi, Kids And Family, Comedy, An...",2020-10-23,data/img/poster-104.jpg,Adventure,Sci Fi,Kids And Family
97,THE TRUE ADVENTURES OF WOLFBOY,78.0,60.0,Drama,2020-10-30,data/img/poster-105.jpg,Drama,None,None
98,BULLETS OF JUSTICE,57.0,0.0,"Action, Comedy, Horror",2020-10-15,data/img/poster-106.jpg,Action,Comedy,Horror
99,THE ANTENNA,55.0,0.0,"Mystery And Thriller, Horror",2020-10-02,data/img/poster-107.jpg,Mystery And Thriller,Horror,None
100,LOVE AND MONSTERS,92.0,89.0,"Comedy, Fantasy, Adventure",2020-10-16,data/img/poster-108.jpg,Comedy,Fantasy,Adventure

In [159]:
#Export top 100 selection
top100.to_csv('data/moviesCleaned_top100.csv', sep=",", index=False, na_rep='NaN')

In [146]:
# Export all data
allGenres.to_csv('data/moviesCleaned_2.csv', sep=",", index=False, na_rep='NaN')

#### How to visualize

Once we have cleaned data  be them definitive or intermediate results  we can use python libraries for data visualization such as [mathplot lib](https://matplotlib.org/) or [seaborn](https://seaborn.pydata.org/) or we can export our data to use them in other softwares. For the purpose of this exercise we will show you how to use RawGraph, an open source platform to create simple graphs.

#### How do critic and audience votes differ?

#### What genres are the most preminent? How do they articulate across different sub-genres?

#### What are the most popular streamed genres?